In [1]:
pip install pymysql pandas

Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 45.0/45.0 kB 1.5 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1

In [2]:
# Step 1: Install MySQL Server
!apt-get update
!apt-get install -y mysql-server

# Step 2: Start the MySQL service
!service mysql start

# Step 3: Set up a sample MySQL database and user
!mysql -e "CREATE DATABASE colab_db;"  # Create a new database named 'colab_db'
!mysql -e "CREATE USER 'colab_user'@'localhost' IDENTIFIED BY 'password';"  # Create a new user
!mysql -e "GRANT ALL PRIVILEGES ON colab_db.* TO 'colab_user'@'localhost';"  # Grant all privileges to the user
!mysql -e "FLUSH PRIVILEGES;"  # Refresh privileges

Hit:1 http://archive.ubuntu.com/ubuntu jammy InRelease
Get:2 http://archive.ubuntu.com/ubuntu jammy-updates InRelease [128 kB]
Get:3 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease [3,632 B]
Get:4 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease [1,581 B]
Get:5 http://security.ubuntu.com/ubuntu jammy-security InRelease [129 kB]
Get:6 http://archive.ubuntu.com/ubuntu jammy-backports InRelease [127 kB]
Get:7 https://r2u.stat.illinois.edu/ubuntu jammy InRelease [6,555 B]
Hit:8 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease
Get:9 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease [24.3 kB]
Get:10 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  Packages [1,683 kB]
Get:11 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease [24.6 kB]
Get:12 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 Packages [1,552 kB]
Get:13 http://archive.ubuntu.com/ubuntu jammy-updates/restricted amd64 Packages [4,540 kB]
Get:14 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 Packages [3,255 kB]
Get:15 http://archive.ubuntu.com/ubuntu jammy-backports/main amd64 Packages [83.2 kB]
Get:16 http://archive.ubuntu.com/ubuntu jammy-backports/universe amd64 Packages [35.2 kB]
Get:17 https://r2u.stat.illinois.edu/ubuntu jammy/main all Packages [8,968 kB]
Get:18 https://r2u.stat.illinois.edu/ubuntu jammy/main amd64 Packages [2,730 kB]
Get:19 http://security.ubuntu.com/ubuntu jammy-security/main amd64 Packages [2,944 kB]
Get:20 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy/main amd64 Packages [46.6 kB]
Get:21 http://security.ubuntu.com/ubuntu jammy-security/restricted amd64 Packages [4,387 kB]
Get:22 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy/main amd64 Packages [75.1 kB]
Get:23 http://security.ubuntu.com/ubuntu jammy-security/universe amd64 Packages [1,245 kB]
Fetched 32.0 MB in 5s (6,234 kB/s)
Reading package lists... Done
W: Skipping acquire of configured file 'main/source/Sources' as repository 'https://r2u.stat.illinois.edu/ubuntu jammy InRelease' does not seem to provide it (sources.list entry misspelt?)
Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
The following additional packages will be installed:
  libcgi-fast-perl libcgi-pm-perl libclone-perl libencode-locale-perl
  libfcgi-bin libfcgi-perl libfcgi0ldbl libhtml-parser-perl
  libhtml-tagset-perl libhtml-template-perl libhttp-date-perl
  libhttp-message-perl libio-html-perl liblwp-mediatypes-perl libmecab2
  libprotobuf-lite23 liburi-perl mecab-ipadic mecab-ipadic-utf8 mecab-utils
  mysql-client-8.0 mysql-client-core-8.0 mysql-server-8.0
  mysql-server-core-8.0
Suggested packages:
  libdata-dump-perl libipc-sharedcache-perl libbusiness-isbn-perl libwww-perl
  mailx tinyca
The following NEW packages will be installed:
  libcgi-fast-perl libcgi-pm-perl libclone-perl libencode-locale-perl
  libfcgi-bin libfcgi-perl libfcgi0ldbl libhtml-parser-perl
  libhtml-tagset-perl libhtml-template-perl libhttp-date-perl
  libhttp-message-perl libio-html-perl liblwp-mediatypes-perl libmecab2
  libprotobuf-lite23 liburi-perl mecab-ipadic mecab-ipadic-utf8 mecab-utils
  mysql-client-8.0 mysql-client-core-8.0 mysql-server mysql-server-8.0
  mysql-server-core-8.0
0 upgraded, 25 newly installed, 0 to remove and 93 not upgraded.
Need to get 29.8 MB of archives.
After this operation, 243 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 mysql-client-core-8.0 amd64 8.0.42-0ubuntu0.22.04.1 [2,715 kB]
Get:2 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 mysql-client-8.0 amd64 8.0.42-0ubuntu0.22.04.1 [22.7 kB]
Get:3 http://archive.ubuntu.com/ubuntu jammy/main amd64 libmecab2 amd64 0.996-14build9 [199 kB]
Get:4 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 libprotobuf-lite23 amd64 3.12.4-1ubuntu7.22.04.2 [209 kB]
Get:5 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 mysql-server-core-8.0 amd64 8.0.42-0ubuntu0.22.04.1 [17.8 MB]
Get:6 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 mysql-server-8.0 amd64 8.0.42-0ubuntu0.22.04.1 [1,446 kB]
Get:7 http://archive.ubuntu.com/ubuntu jammy/main amd64 libhtml-tagset-perl all 3.20-4 [12.5 kB]
Get:8 http://archive.ubuntu.com/ubuntu jammy/main amd64 liburi-perl all 5.10-1 [78.8 kB]
Get:9 http://archive.ubuntu.com/ubuntu jammy/main amd64 libhtml-parser-perl amd64 3.76-1build2 [88.4 kB]
Get:10 http://archive.ubuntu.com/ubuntu jammy/main amd64 libcgi-pm-perl all 4.54-1 [188 kB]
Get:11 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 libfcgi0ldbl amd64 2.4.2-2ubuntu0.1 [28.1 kB]
Get:12 http://archive.ubuntu.com/ubuntu jammy/main amd64 libfcgi-perl amd64 0.82+ds-1build1 [22.8 kB]
Get:13 http://archive.ubuntu.com/ubuntu jammy/main amd64 libcgi-fast-perl all 1:2.15-1 [10.5 kB]
Get:14 http://archive.ubuntu.com/ubuntu jammy/main amd64 libclone-perl amd64 0.45-1build3 [11.0 kB]
Get:15 http://archive.ubuntu.com/ubuntu jammy/main amd64 libencode-locale-perl all 1.05-1.1 [11.8 kB]
Get:16 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 libfcgi-bin amd64 2.4.2-2ubuntu0.1 [11.1 kB]
Get:17 http://archive.ubuntu.com/ubuntu jammy/main amd64 libhtml-template-perl all 2.97-1.1 [59.1 kB]
Get:18 http://archive.ubuntu.com/ubuntu jammy/main amd64 libhttp-date-perl all 6.05-1 [9,920 B]
Get:19 http://archive.ubuntu.com/ubuntu jammy/main amd64 libio-html-perl all 1.004-2 [15.4 kB]
Get:20 http://archive.ubuntu.com/ubuntu jammy/main amd64 liblwp-mediatypes-perl all 6.04-1 [19.5 kB]
Get:21 http://archive.ubuntu.com/ubuntu jammy/main amd64 libhttp-message-perl all 6.36-1 [76.8 kB]
Get:22 http://archive.ubuntu.com/ubuntu jammy/main amd64 mecab-utils amd64 0.996-14build9 [4,850 B]
Get:23 http://archive.ubuntu.com/ubuntu jammy/main amd64 mecab-ipadic all 2.7.0-20070801+main-3 [6,718 kB]
Get:24 http://archive.ubuntu.com/ubuntu jammy/main amd64 mecab-ipadic-utf8 all 2.7.0-20070801+main-3 [4,384 B]
Get:25 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 mysql-server all 8.0.42-0ubuntu0.22.04.1 [9,462 B]
Fetched 29.8 MB in 1s (37.1 MB/s)
Preconfiguring packages ...
Selecting previously unselected package mysql-client-core-8.0.
(Reading database ... 126102 files and directories currently installed.)
Preparing to unpack .../00-mysql-client-core-8.0_8.0.42-0ubuntu0.22.04.1_amd64.deb ...
Unpacking mysql-client-core-8.0 (8.0.42-0ubuntu0.22.04.1) ...
Selecting previously unselected package mysql-client-8.0.
Preparing to unpack .../01-mysql-client-8.0_8.0.42-0ubuntu0.22.04.1_amd64.deb ...
Unpacking mysql-client-8.0 (8.0.42-0ubuntu0.22.04.1) ...
Selecting previously unselected package libmecab2:amd64.
Preparing to unpack .../02-libmecab2_0.996-14build9_amd64.deb ...
Unpacking libmecab2:amd64 (0.996-14build9) ...
Selecting previously unselected package libprotobuf-lite23:amd64.
Preparing to unpack .../03-libprotobuf-lite23_3.12.4-1ubuntu7.22.04.2_amd64.deb ...
Unpacking libprotobuf-lite23:amd64 (3.12.4-1ubuntu7.22.04.2) ...
Selecting previously unselected package mysql-server-core-8.0.
Preparing to unpack .../04-mysql-server-core-8.0_8.0.42-0ubuntu0.22.04.1_amd64.deb ...
Unpacking mysql-server-core-8.0 (8.0.42-0ubuntu0.22.04.1) ...
Selecting previously unselected package mysql-server-8.0.
Preparing to unpack .../05-mysql-server-8.0_8.0.42-0ubuntu0.22.04.1_amd64.deb ...
Unpacking mysql-server-8.0 (8.0.42-0ubuntu0.22.04.1) ...
Selecting previously unselected package libhtml-tagset-perl.
Preparing to unpack .../06-libhtml-tagset-perl_3.20-4_all.deb ...
Unpacking libhtml-tagset-perl (3.20-4) ...
Selecting previously unselected package liburi-perl.
Preparing to unpack .../07-liburi-perl_5.10-1_all.deb ...
Unpacking liburi-perl (5.10-1) ...
Selecting previously unselected package libhtml-parser-perl:amd64.
Preparing to unpack .../08-libhtml-parser-perl_3.76-1build2_amd64.deb ...
Unpacking libhtml-parser-perl:amd64 (3.76-1build2) ...
Selecting previously unselected package libcgi-pm-perl.
Preparing to unpack .../09-libcgi-pm-perl_4.54-1_all.deb ...
Unpacking libcgi-pm-perl (4.54-1) ...
Selecting previously unselected package libfcgi0ldbl:amd64.
Preparing to unpack .../10-libfcgi0ldbl_2.4.2-2ubuntu0.1_amd64.deb ...
Unpacking libfcgi0ldbl:amd64 (2.4.2-2ubuntu0.1) ...
Selecting previously unselected package libfcgi-perl:amd64.
Preparing to unpack .../11-libfcgi-perl_0.82+ds-1build1_amd64.deb ...
Unpacking libfcgi-perl:amd64 (0.82+ds-1build1) ...
Selecting previously unselected package libcgi-fast-perl.
Preparing to unpack .../12-libcgi-fast-perl_1%3a2.15-1_all.deb ...
Unpacking libcgi-fast-perl (1:2.15-1) ...
Selecting previously unselected package libclone-perl.
Preparing to unpack .../13-libclone-perl_0.45-1build3_amd64.deb ...
Unpacking libclone-perl (0.45-1build3) ...
Selecting previously unselected package libencode-locale-perl.
Preparing to unpack .../14-libencode-locale-perl_1.05-1.1_all.deb ...
Unpacking libencode-locale-perl (1.05-1.1) ...
Selecting previously unselected package libfcgi-bin.
Preparing to unpack .../15-libfcgi-bin_2.4.2-2ubuntu0.1_amd64.deb ...
Unpacking libfcgi-bin (2.4.2-2ubuntu0.1) ...
Selecting previously unselected package libhtml-template-perl.
Preparing to unpack .../16-libhtml-template-perl_2.97-1.1_all.deb ...
Unpacking libhtml-template-perl (2.97-1.1) ...
Selecting previously unselected package libhttp-date-perl.
Preparing to unpack .../17-libhttp-date-perl_6.05-1_all.deb ...
Unpacking libhttp-date-perl (6.05-1) ...
Selecting previously unselected package libio-html-perl.
Preparing to unpack .../18-libio-html-perl_1.004-2_all.deb ...
Unpacking libio-html-perl (1.004-2) ...
Selecting previously unselected package liblwp-mediatypes-perl.
Preparing to unpack .../19-liblwp-mediatypes-perl_6.04-1_all.deb ...
Unpacking liblwp-mediatypes-perl (6.04-1) ...
Selecting previously unselected package libhttp-message-perl.
Preparing to unpack .../20-libhttp-message-perl_6.36-1_all.deb ...
Unpacking libhttp-message-perl (6.36-1) ...
Selecting previously unselected package mecab-utils.
Preparing to unpack .../21-mecab-utils_0.996-14build9_amd64.deb ...
Unpacking mecab-utils (0.996-14build9) ...
Selecting previously unselected package mecab-ipadic.
Preparing to unpack .../22-mecab-ipadic_2.7.0-20070801+main-3_all.deb ...
Unpacking mecab-ipadic (2.7.0-20070801+main-3) ...
Selecting previously unselected package mecab-ipadic-utf8.
Preparing to unpack .../23-mecab-ipadic-utf8_2.7.0-20070801+main-3_all.deb ...
Unpacking mecab-ipadic-utf8 (2.7.0-20070801+main-3) ...
Selecting previously unselected package mysql-server.
Preparing to unpack .../24-mysql-server_8.0.42-0ubuntu0.22.04.1_all.deb ...
Unpacking mysql-server (8.0.42-0ubuntu0.22.04.1) ...
Setting up libhttp-date-perl (6.05-1) ...
Setting up libmecab2:amd64 (0.996-14build9) ...
Setting up mysql-client-core-8.0 (8.0.42-0ubuntu0.22.04.1) ...
Setting up libfcgi0ldbl:amd64 (2.4.2-2ubuntu0.1) ...
Setting up libclone-perl (0.45-1build3) ...
Setting up libhtml-tagset-perl (3.20-4) ...
Setting up liblwp-mediatypes-perl (6.04-1) ...
Setting up libfcgi-bin (2.4.2-2ubuntu0.1) ...
Setting up libencode-locale-perl (1.05-1.1) ...
Setting up libprotobuf-lite23:amd64 (3.12.4-1ubuntu7.22.04.2) ...
Setting up mecab-utils (0.996-14build9) ...
Setting up libio-html-perl (1.004-2) ...
Setting up mysql-server-core-8.0 (8.0.42-0ubuntu0.22.04.1) ...
Setting up mysql-client-8.0 (8.0.42-0ubuntu0.22.04.1) ...
Setting up libfcgi-perl:amd64 (0.82+ds-1build1) ...
Setting up liburi-perl (5.10-1) ...
Setting up libhttp-message-perl (6.36-1) ...
Setting up mysql-server-8.0 (8.0.42-0ubuntu0.22.04.1) ...
invoke-rc.d: could not determine current runlevel
invoke-rc.d: policy-rc.d denied execution of stop.
update-alternatives: using /etc/mysql/mysql.cnf to provide /etc/mysql/my.cnf (my.cnf) in auto mode
Renaming removed key_buffer and myisam-recover options (if present)
mysqld will log errors to /var/log/mysql/error.log
mysqld is running as pid 2044
Created symlink /etc/systemd/system/multi-user.target.wants/mysql.service → /lib/systemd/system/mysql.service.
invoke-rc.d: could not determine current runlevel
invoke-rc.d: policy-rc.d denied execution of start.
Setting up mecab-ipadic (2.7.0-20070801+main-3) ...
Compiling IPA dictionary for Mecab.  This takes long time...
reading /usr/share/mecab/dic/ipadic/unk.def ... 40
emitting double-array: 100% |###########################################|
/usr/share/mecab/dic/ipadic/model.def is not found. skipped.
reading /usr/share/mecab/dic/ipadic/Noun.adverbal.csv ... 795
reading /usr/share/mecab/dic/ipadic/Noun.others.csv ... 151
reading /usr/share/mecab/dic/ipadic/Adverb.csv ... 3032
reading /usr/share/mecab/dic/ipadic/Noun.number.csv ... 42
reading /usr/share/mecab/dic/ipadic/Symbol.csv ... 208
reading /usr/share/mecab/dic/ipadic/Suffix.csv ... 1393
reading /usr/share/mecab/dic/ipadic/Noun.place.csv ... 72999
reading /usr/share/mecab/dic/ipadic/Adj.csv ... 27210
reading /usr/share/mecab/dic/ipadic/Postp.csv ... 146
reading /usr/share/mecab/dic/ipadic/Verb.csv ... 130750
reading /usr/share/mecab/dic/ipadic/Interjection.csv ... 252
reading /usr/share/mecab/dic/ipadic/Prefix.csv ... 221
reading /usr/share/mecab/dic/ipadic/Noun.csv ... 60477
reading /usr/share/mecab/dic/ipadic/Noun.verbal.csv ... 12146
reading /usr/share/mecab/dic/ipadic/Noun.name.csv ... 34202
reading /usr/share/mecab/dic/ipadic/Adnominal.csv ... 135
reading /usr/share/mecab/dic/ipadic/Conjunction.csv ... 171
reading /usr/share/mecab/dic/ipadic/Noun.adjv.csv ... 3328
reading /usr/share/mecab/dic/ipadic/Noun.proper.csv ... 27328
reading /usr/share/mecab/dic/ipadic/Others.csv ... 2
reading /usr/share/mecab/dic/ipadic/Auxil.csv ... 199
reading /usr/share/mecab/dic/ipadic/Postp-col.csv ... 91
reading /usr/share/mecab/dic/ipadic/Noun.demonst.csv ... 120
reading /usr/share/mecab/dic/ipadic/Noun.org.csv ... 16668
reading /usr/share/mecab/dic/ipadic/Noun.nai.csv ... 42
reading /usr/share/mecab/dic/ipadic/Filler.csv ... 19
emitting double-array: 100% |###########################################|
reading /usr/share/mecab/dic/ipadic/matrix.def ... 1316x1316
emitting matrix      : 100% |###########################################|

done!
update-alternatives: using /var/lib/mecab/dic/ipadic to provide /var/lib/mecab/dic/debian (mecab-dictionary) in auto mode
Setting up mecab-ipadic-utf8 (2.7.0-20070801+main-3) ...
Compiling IPA dictionary for Mecab.  This takes long time...
reading /usr/share/mecab/dic/ipadic/unk.def ... 40
emitting double-array: 100% |###########################################|
/usr/share/mecab/dic/ipadic/model.def is not found. skipped.
reading /usr/share/mecab/dic/ipadic/Noun.adverbal.csv ... 795
reading /usr/share/mecab/dic/ipadic/Noun.others.csv ... 151
reading /usr/share/mecab/dic/ipadic/Adverb.csv ... 3032
reading /usr/share/mecab/dic/ipadic/Noun.number.csv ... 42
reading /usr/share/mecab/dic/ipadic/Symbol.csv ... 208
reading /usr/share/mecab/dic/ipadic/Suffix.csv ... 1393
reading /usr/share/mecab/dic/ipadic/Noun.place.csv ... 72999
reading /usr/share/mecab/dic/ipadic/Adj.csv ... 27210
reading /usr/share/mecab/dic/ipadic/Postp.csv ... 146
reading /usr/share/mecab/dic/ipadic/Verb.csv ... 130750
reading /usr/share/mecab/dic/ipadic/Interjection.csv ... 252
reading /usr/share/mecab/dic/ipadic/Prefix.csv ... 221
reading /usr/share/mecab/dic/ipadic/Noun.csv ... 60477
reading /usr/share/mecab/dic/ipadic/Noun.verbal.csv ... 12146
reading /usr/share/mecab/dic/ipadic/Noun.name.csv ... 34202
reading /usr/share/mecab/dic/ipadic/Adnominal.csv ... 135
reading /usr/share/mecab/dic/ipadic/Conjunction.csv ... 171
reading /usr/share/mecab/dic/ipadic/Noun.adjv.csv ... 3328
reading /usr/share/mecab/dic/ipadic/Noun.proper.csv ... 27328
reading /usr/share/mecab/dic/ipadic/Others.csv ... 2
reading /usr/share/mecab/dic/ipadic/Auxil.csv ... 199
reading /usr/share/mecab/dic/ipadic/Postp-col.csv ... 91
reading /usr/share/mecab/dic/ipadic/Noun.demonst.csv ... 120
reading /usr/share/mecab/dic/ipadic/Noun.org.csv ... 16668
reading /usr/share/mecab/dic/ipadic/Noun.nai.csv ... 42
reading /usr/share/mecab/dic/ipadic/Filler.csv ... 19
emitting double-array: 100% |###########################################|
reading /usr/share/mecab/dic/ipadic/matrix.def ... 1316x1316
emitting matrix      : 100% |###########################################|

done!
update-alternatives: using /var/lib/mecab/dic/ipadic-utf8 to provide /var/lib/mecab/dic/debian (mecab-dictionary) in auto mode
Setting up libhtml-parser-perl:amd64 (3.76-1build2) ...
Setting up mysql-server (8.0.42-0ubuntu0.22.04.1) ...
Setting up libcgi-pm-perl (4.54-1) ...
Setting up libhtml-template-perl (2.97-1.1) ...
Setting up libcgi-fast-perl (1:2.15-1) ...
Processing triggers for man-db (2.10.2-1) ...
Processing triggers for libc-bin (2.35-0ubuntu3.8) ...
/sbin/ldconfig.real: /usr/local/lib/libumf.so.0 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtcm_debug.so.1 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbbind.so.3 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libhwloc.so.15 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbbind_2_5.so.3 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbb.so.12 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libur_adapter_level_zero.so.0 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbmalloc.so.2 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbbind_2_0.so.3 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtcm.so.1 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libur_adapter_opencl.so.0 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbmalloc_proxy.so.2 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libur_loader.so.0 is not a symbolic link

 * Starting MySQL database server mysqld
su: warning: cannot change directory to /nonexistent: No such file or directory
   ...done.

In [4]:
# Step 4: Python code to connect to the MySQL server
import pymysql

try:
    # Connect to the MySQL server running in Colab
    connection = pymysql.connect(
        host='127.0.0.1',
        port=3306,
        user='colab_user',  # User created earlier
        password='password',  # Password created earlier
        database='colab_db'  # Database created earlier
    )
    print("Connected to the database!")

    # Step 5: Create a cursor to execute queries
    cursor = connection.cursor()

    # Example: Create a table
    cursor.execute("CREATE TABLE IF NOT EXISTS users (id INT, name VARCHAR(255))")
    print("Table created or already exists.")

    # Example: Insert data into the table
    cursor.execute("INSERT INTO users (id, name) VALUES (1, 'John Doe')")
    connection.commit()
    print("Data inserted!")

    # Example: Query data from the table
    cursor.execute("SELECT * FROM users")
    results = cursor.fetchall()
    print("Query Results:", results)

except pymysql.MySQLError as e:
    print("Error:", e)

finally:
    if connection:
        connection.close()
        print("Connection closed.")

Connected to the database!
Table created or already exists.
Data inserted!
Query Results: ((1, 'John Doe'), (1, 'John Doe'))
Connection closed.

# Hands On Activity! SQL in Python!!

### **Exercise 1: Create Tables**

1. Create a table named `products` with the following columns:

   * `product_id`: INT (Primary Key)
   * `product_name`: VARCHAR(255)
   * `price`: DECIMAL(10, 2)

2. Create a table named `categories` with the following columns:

   * `category_id`: INT (Primary Key)
   * `category_name`: VARCHAR(255)

3. Create a table named `product_categories` to represent the many-to-many relationship between `products` and `categories`:

   * `product_id`: INT (Foreign Key)
   * `category_id`: INT (Foreign Key)

---

### **Exercise 2: Insert Data**

1. Insert at least 5 products into the `products` table with various prices.
2. Insert at least 3 categories into the `categories` table.
3. Associate each product with one or more categories in the `product_categories` table.

---

### **Exercise 3: Write Queries**

1. Retrieve all products with their prices.
2. Retrieve all categories and their associated products.
3. Find the most expensive product in each category.
4. Calculate the total number of products in each category.
5. Find categories that don’t have any products.

---

### **Exercise 4: Modify Data**

1. Update the price of a specific product.
2. Delete a product and ensure its relationships in `product_categories` are also removed.

---

### **Exercise 5: Advanced Queries**

1. Write a query to find the top 3 most expensive products.
2. Retrieve products with prices above the average product price.
3. Create a stored procedure to add a new product along with its category associations.

In [6]:
# EX : 1

import sqlite3

# Connect to SQLite database (in-memory for testing)
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

# Enable foreign key constraint enforcement
cursor.execute("PRAGMA foreign_keys = ON;")

# Create products table
cursor.execute('''
CREATE TABLE products (
    product_id INTEGER PRIMARY KEY,
    product_name VARCHAR(255),
    price DECIMAL(10, 2)
)
''')

# Create categories table
cursor.execute('''
CREATE TABLE categories (
    category_id INTEGER PRIMARY KEY,
    category_name VARCHAR(255)
)
''')

# Create product_categories table for many-to-many relationship
cursor.execute('''
CREATE TABLE product_categories (
    product_id INTEGER,
    category_id INTEGER,
    FOREIGN KEY (product_id) REFERENCES products(product_id),
    FOREIGN KEY (category_id) REFERENCES categories(category_id)
)
''')

print("Tables created successfully.")

Tables created successfully.

In [7]:
# EX : 2

# Insert data into products table
products_data = [
    (1, 'Laptop', 1200.00),
    (2, 'Smartphone', 800.00),
    (3, 'Keyboard', 45.99),
    (4, 'Monitor', 200.00),
    (5, 'Headphones', 75.50)
]
cursor.executemany('INSERT INTO products VALUES (?, ?, ?)', products_data)

# Insert data into categories table
categories_data = [
    (1, 'Electronics'),
    (2, 'Accessories'),
    (3, 'Office Equipment')
]
cursor.executemany('INSERT INTO categories VALUES (?, ?)', categories_data)

# Associate products with categories in product_categories table
product_categories_data = [
    (1, 1),  # Laptop - Electronics
    (2, 1),  # Smartphone - Electronics
    (3, 2),  # Keyboard - Accessories
    (4, 1),  # Monitor - Electronics
    (4, 3),  # Monitor - Office Equipment
    (5, 2)   # Headphones - Accessories
]
cursor.executemany('INSERT INTO product_categories VALUES (?, ?)', product_categories_data)

# Commit changes to the database
conn.commit()

print("Data inserted successfully.")

Data inserted successfully.

In [8]:
print("\nProducts:")
for row in cursor.execute('SELECT * FROM products'):
    print(row)

print("\nCategories:")
for row in cursor.execute('SELECT * FROM categories'):
    print(row)

print("\nProduct-Categories:")
for row in cursor.execute('SELECT * FROM product_categories'):
    print(row)

Products:
(1, 'Laptop', 1200)
(2, 'Smartphone', 800)
(3, 'Keyboard', 45.99)
(4, 'Monitor', 200)
(5, 'Headphones', 75.5)

Categories:
(1, 'Electronics')
(2, 'Accessories')
(3, 'Office Equipment')

Product-Categories:
(1, 1)
(2, 1)
(3, 2)
(4, 1)
(4, 3)
(5, 2)

In [9]:
# EX : 3
# Retrieve all products with their prices.

print("All products with prices:")
cursor.execute('''
SELECT product_name, price
FROM products
''')
for row in cursor.fetchall():
    print(row)

All products with prices:
('Laptop', 1200)
('Smartphone', 800)
('Keyboard', 45.99)
('Monitor', 200)
('Headphones', 75.5)

In [10]:
# Retrieve all categories and their associated products.

print("\nCategories and their associated products:")
cursor.execute('''
SELECT c.category_name, p.product_name
FROM categories c
JOIN product_categories pc ON c.category_id = pc.category_id
JOIN products p ON pc.product_id = p.product_id
''')
for row in cursor.fetchall():
    print(row)

Categories and their associated products:
('Electronics', 'Laptop')
('Electronics', 'Smartphone')
('Accessories', 'Keyboard')
('Electronics', 'Monitor')
('Office Equipment', 'Monitor')
('Accessories', 'Headphones')

In [11]:
# Find the most expensive product in each category.

print("\nMost expensive product in each category:")
cursor.execute('''
SELECT c.category_name, p.product_name, MAX(p.price) as max_price
FROM categories c
JOIN product_categories pc ON c.category_id = pc.category_id
JOIN products p ON pc.product_id = p.product_id
GROUP BY c.category_id
''')
for row in cursor.fetchall():
    print(row)

Most expensive product in each category:
('Electronics', 'Laptop', 1200)
('Accessories', 'Headphones', 75.5)
('Office Equipment', 'Monitor', 200)

In [12]:
#Calculate the total number of products in each category

print("\nTotal number of products in each category:")
cursor.execute('''
SELECT c.category_name, COUNT(DISTINCT pc.product_id) as total_products
FROM categories c
LEFT JOIN product_categories pc ON c.category_id = pc.category_id
GROUP BY c.category_id
''')
for row in cursor.fetchall():
    print(row)

Total number of products in each category:
('Electronics', 3)
('Accessories', 2)
('Office Equipment', 1)

In [13]:
#Find categories that don’t have any products

print("\nCategories with no associated products:")
cursor.execute('''
SELECT c.category_name
FROM categories c
LEFT JOIN product_categories pc ON c.category_id = pc.category_id
WHERE pc.product_id IS NULL
''')
for row in cursor.fetchall():
    print(row)

Categories with no associated products:

In [14]:
# EX : 4
# Update the price of a specific product.

cursor.execute('''
UPDATE products
SET price = 1100.00
WHERE product_name = 'Laptop'
''')
conn.commit()

print("Updated price of Laptop.")

Updated price of Laptop.

In [15]:
#Delete a product and ensure its relationships in product_categories are also removed.

# Get the product_id of 'Keyboard'
cursor.execute("SELECT product_id FROM products WHERE product_name = 'Keyboard'")
keyboard_id = cursor.fetchone()

if keyboard_id:
    keyboard_id = keyboard_id[0]

    # Delete related entries in product_categories
    cursor.execute('DELETE FROM product_categories WHERE product_id = ?', (keyboard_id,))

    # Delete the product itself
    cursor.execute('DELETE FROM products WHERE product_id = ?', (keyboard_id,))

    conn.commit()
    print("Deleted 'Keyboard' and its associations.")
else:
    print("'Keyboard' not found.")

Deleted 'Keyboard' and its associations.

In [16]:
# EX : 5
#Write a query to find the top 3 most expensive products.

print("Top 3 most expensive products:")
cursor.execute('''
SELECT product_name, price
FROM products
ORDER BY price DESC
LIMIT 3
''')
for row in cursor.fetchall():
    print(row)

Top 3 most expensive products:
('Laptop', 1100)
('Smartphone', 800)
('Monitor', 200)

In [17]:
#Retrieve products with prices above the average product price.

print("\nProducts with prices above average:")
cursor.execute('''
SELECT product_name, price
FROM products
WHERE price > (SELECT AVG(price) FROM products)
''')
for row in cursor.fetchall():
    print(row)

Products with prices above average:
('Laptop', 1100)
('Smartphone', 800)

In [18]:
#Create a stored procedure to add a new product along with its category associations.

def add_product_with_categories(product_name, price, category_ids):
    # Insert the new product
    cursor.execute('''
        INSERT INTO products (product_name, price) VALUES (?, ?)
    ''', (product_name, price))

    # Get the new product_id
    product_id = cursor.lastrowid

    # Insert into product_categories
    for cat_id in category_ids:
        cursor.execute('''
            INSERT INTO product_categories (product_id, category_id) VALUES (?, ?)
        ''', (product_id, cat_id))

    conn.commit()
    print(f"Product '{product_name}' added with categories {category_ids}.")

In [19]:
add_product_with_categories("Tablet", 650.00, [1, 2])  # Electronics + Accessories

Product 'Tablet' added with categories [1, 2].