In [1]:
print("Hello world !")

Hello world !

In [2]:
name="Raunaq Mohammed Al Harthi"
print(name)

Raunaq Mohammed Al Harthi

In [3]:
name = "Raunaq"
print(name)

name = "Israa"
print(name)

Raunaq
Israa

In [4]:
ages = [10,12,14,16,18]
count = 0
for age in ages:
  if age >= 14:
    count += 1

print(count)

3

In [5]:
_name="Elyas"
print(_name)

Elyas

In [6]:
name01="Qusai"
print(name01)

Qusai

In [7]:
#constant all capital letters
A= 5
B=8
TOTAL = (A + B) / 2
print(TOTAL)

6.5

In [8]:
"""
This is a
multi-line
comment
"""

'\nThis is a\nmulti-line\ncomment\n'

In [9]:
cansPerPack = 6
ouncesPerCan = 12
litersPerOunce = 0.355 * 6

# Total

print(litersPerOunce)
litersBottle = 2.0

# # compare
# if totalLitersCans > litersBottle:
#     print("Buy six-pack of cans")
# else:
#     print("Buy the bottle")

2.13

In [10]:
b=1
r=2
n=3
b * (1 + r / 100) ** n

1.0612080000000002

In [11]:
#division
3/2

1.5

In [12]:
#floor division
3//2

1

In [13]:
#modulus
10%7

3

In [14]:
a=6
b=13
if a % 2 == 0:
  print(f"{a} is even")
else:
  print(f"{a} is odd")

if b % 2 == 0:
  print(f"{b} is even")
else:
  print(f"{b} is odd")

6 is even
13 is odd

In [15]:
num = -10
if num < 0 :
  num = num * (-1)
  print(num)
else:
  print(num)

10

In [16]:
abs(-25)

25

In [17]:
round(67.92208)

68

In [18]:
round(67.92208,3)

67.922

In [19]:
max(1,2,3,4,5,3,2,3,1)

5

In [20]:
min(1,2,3,4,5,3,2,3,1)

1

In [21]:
from math import sqrt
sqrt(5)

2.23606797749979

In [22]:
import math
math.sqrt(6)

2.449489742783178

In [23]:
#convert int to float and viceversa
height = 157.8
height = int(height)
print(height)

157

In [24]:
height = 157
height = float(height)
print(height)

157.0

In [25]:
#from math import sqrt, cos
from math import * #import all math functions

a = 2
b = 3
t = 1

result = sqrt((a**2) + (b**2) - 2 * a * b * cos(t))
print(result)

2.552718615433813

In [26]:
count = 0
count += 1
print(count)

1

In [27]:
count = 1
count *= 2
print(count)

2

In [28]:
name = input("Please Enter your name: ")
age = int(input("Enter your age: "))
height = float(input("Enter your height: "))

Please Enter your name: Raunaq
Enter your age: 24
Enter your height: 163

In [29]:
#2 --> two decimal points, f --> float
#if f float , d integer (%d), s string (%s)
# format specifier
price = 1.21997
print("price per liter %.2f" %(price))

price per liter 1.22

In [30]:
print("price per liter %10.2f" %(price))

price per liter       1.22

In [31]:
quantity = 19
total= 34.5
print("Quantity : %d Total: %10.2f" % (quantity, total))

Quantity : 19 Total:      34.50

In [32]:
print("%-10s" %("Total:"))

Total:

In [33]:
print("%10.2f" %(price))

      1.22

In [34]:
print("%-10s%10.2f" %("Total: ",price))

Total:          1.22

In [35]:
Pack = int(input("Enter number of Pack: "))
Can = int(input("Enter number of Cans: "))
bottle = int(input("Enter number of Bottles: "))
fluid = 0.335
canPerPack = Pack * fluid

if canPerPack > bottle:
  print(canPerPack)
else:
  print(bottle)

Enter number of Pack: 3
Enter number of Cans: 6
Enter number of Bottles: 7
7

In [36]:
#12 oz = 0.355 liters â‡’ 1 oz = 0.0296 liters

cans = int(input("Cans: "))
oz = float(input("Ounces per can: "))
bottle = float(input("Bottle in liters: "))

total_can_liters = cans * oz * 0.0296

print("Cans total :", total_can_liters)
print("Bottle :", bottle)

if total_can_liters > bottle:
    print("Buy cans")
elif total_can_liters < bottle:
    print("Buy bottle")
else:
    print("Same amount")

Cans: 7
Ounces per can: 7
Bottle in liters: 7
Cans total : 1.4504000000000001
Bottle : 7.0
Buy bottle

In [37]:
message = 'She said "Hello"'
print(message)

She said "Hello"

In [38]:
message = "She said 'Hello'"
print(message)

She said 'Hello'

In [39]:
length=len("Hi its Ruru")
print(length)

11

In [40]:
firstName = "Raunaq"
secondName = "Mohammed"
name = firstName +" "+ secondName
print("my name is :", name)

my name is : Raunaq Mohammed

In [41]:
dashes = "%" * 50
print(dashes)

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

In [42]:
dashes = ":>" * 50
print(dashes)

:>:>:>:>:>:>:>:>:>:>:>:>:>:>:>:>:>:>:>:>:>:>:>:>:>:>:>:>:>:>:>:>:>:>:>:>:>:>:>:>:>:>:>:>:>:>:>:>:>:>

In [43]:
name = "Abdullah"
print(name[0])
print(name[2])
print(name[-1])
print(name[-2])
print(name[:])
print(name[:4])
print(name[:-2])
print(name[2:5])

A
d
h
a
Abdullah
Abdu
Abdull
dul

In [44]:
#escape sequences
print("He said \"Hello\"")

He said "Hello"

In [45]:
print("My name is Raunaq \nIm 24 years old\nIm software engineering")

My name is Raunaq
Im 24 years old
Im software engineering

In [46]:
floor = int(input("Enter floor number: "))

if floor == 13:
    print("No floor 13")
elif floor > 13:
    print(floor - 1)
else:
    print(floor)

Enter floor number: 6
6

In [47]:
price = float(input("Enter the price: "))

if price < 128:
    discount = 0.08
else:
    discount = 0.16

finalPrice = price - (price * discount)

print("Price after discount: ", finalPrice)

Enter the price: 77
Price after discount:  70.84

In [48]:
name1 = "noor"
name2 = "muna"
if name1 == name2:
  print("Names are same")
else:
  print("Names are not the same")

Names are not the same

In [49]:
#Nested if

number = int(input("Enter a number: "))

if number > 0:
  if number % 3 == 0:
    print("your number is positive and divisible by 3")
  else:
    print("your number is positive but not divisible by 3")
else:
  print("your number is zero or negative")

Enter a number: 6
your number is positive and divisible by 3

In [50]:
hour1 = int(input("Enter hour 1 : "))
hour2 = int(input("Enter hour 2 : "))
minute1 = int(input("Enter minute 1 : "))
minute2 = int(input("Enter minute 2 : "))

if hour1 < hour2:
  print("time1 comes first")
else:
  if hour1 == hour2:
    if minute2 == minute2:
      print("time is same")
    elif minute1 <= minute2:
      print("time1 comes first")
    else:
      print("time2 comes first")
  else:
    print("time2 comes first")

Enter hour 1 : 66
Enter hour 2 : 88
Enter minute 1 : 99
Enter minute 2 : 77
time1 comes first

In [51]:
typeGuest = (input("Enter type of guest : "))
numberNights = int((input("Enter number of nights : ")))
price = 30 * numberNights

if typeGuest.lower() == "student":
  finalprice = price - (price * 0.2)
  print("final price: ",finalprice)
elif typeGuest.lower() == "regular" and numberNights > 3 :
  finalprice = price - (price * 0.15)
  print("final price: ",finalprice)
else:
  print("final price:", price)

Enter type of guest : customer
Enter number of nights : 3
final price: 90

In [52]:
earthquake = float(input("enter number of earthquake effect : "))

if earthquake >= 8:
  print("Most structures fall")
elif earthquake >= 7  and earthquake < 7.99:
  print("Many buildings destroyed")
elif earthquake >= 6 and earthquake < 6.99:
  print("Many buildings considerably damaged, some collapse")
elif earthquake >= 4.5 and earthquake < 5.99:
  print("Damage to poorly constructed buildings")
else:
  print("No damage")

enter number of earthquake effect : 2
No damage

In [53]:
numberset = {1,2,3,4,3,2}
print(numberset)

{1, 2, 3, 4}

In [54]:
emptyset = {}
print(type(emptyset))

<class 'dict'>

In [55]:
emptyset = set()
print(type(emptyset))

<class 'set'>

In [56]:
setWithLists = set([1,2,3])
print(type(setWithLists))
print(setWithLists)

<class 'set'>
{1, 2, 3}

In [57]:
numberset = {1,2,3,4,3,2}
numberset.update([6, 7, 2])
print(numberset)

{1, 2, 3, 4, 6, 7}

In [58]:
numberset = {1,2,3,4,3,2}
numberset.add(5)
print(numberset)

{1, 2, 3, 4, 5}

In [59]:
A = {1,2,3,4}
B = {2,4,6,8,6,6}

print('A', A )
print('B', B )

s1 = A | B
print('Union : A | B' , s1)

s2 = A & B
print('Intersection : A & B' , s2)

s3 = A - B
print('Difference : A - B' , s3)

s4 = A ^ B
print('Symmetric Difference : A ^ B' , s4)

A {1, 2, 3, 4}
B {8, 2, 4, 6}
Union : A | B {1, 2, 3, 4, 6, 8}
Intersection : A & B {2, 4}
Difference : A - B {1, 3}
Symmetric Difference : A ^ B {1, 3, 6, 8}