In [ ]:
import numpy as np

In [ ]:
arr = np.array([10,20,30,40])
result = np.where(arr > 25, "High" , "Low")
print (result)

['Low' 'Low' 'High' 'High']

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/Electric_Production.csv')
df

          DATE  IPG2211A2N
0     1/1/1985     72.5052
1     2/1/1985     70.6720
2     3/1/1985     62.4502
3     4/1/1985     57.4714
4     5/1/1985     55.3151
..         ...         ...
392   9/1/2017     98.6154
393  10/1/2017     93.6137
394  11/1/2017     97.3359
395  12/1/2017    114.7212
396   1/1/2018    129.4048

[397 rows x 2 columns]

In [ ]:
print(df.head())
print('\n')
print(df.info())
print('\n')
print(df.describe())

       DATE  IPG2211A2N
0  1/1/1985     72.5052
1  2/1/1985     70.6720
2  3/1/1985     62.4502
3  4/1/1985     57.4714
4  5/1/1985     55.3151


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 397 entries, 0 to 396
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   DATE        397 non-null    object
 1   IPG2211A2N  397 non-null    float64
dtypes: float64(1), object(1)
memory usage: 6.3+ KB
None


       IPG2211A2N
count  397.000000
mean    88.847218
std     15.387834
min     55.315100
25%     77.105200
50%     89.779500
75%    100.524400
max    129.404800

In [ ]:
import datetime

In [ ]:
df['DATE'] = pd.to_datetime(df['DATE'])
print(df.dtypes)

DATE          datetime64[ns]
IPG2211A2N           float64
dtype: object

In [ ]:
df['Year'] = df['DATE'].dt.year
df['Month'] = df['DATE'].dt.month
df['Day'] = df['DATE'].dt.day
df['Weekday'] = df['DATE'].dt.day_name()

print(df[['DATE', 'Year', 'Month', 'Day', 'Weekday']].head())

        DATE  Year  Month  Day    Weekday
0 1985-01-01  1985      1    1    Tuesday
1 1985-02-01  1985      2    1     Friday
2 1985-03-01  1985      3    1     Friday
3 1985-04-01  1985      4    1     Monday
4 1985-05-01  1985      5    1  Wednesday

In [ ]:
## IPG2211A2N == TEMP
df_1985 = df[df['Year'] == 1985]

below_10c_1985 = df_1985[df_1985['IPG2211A2N'] < 10]
print("Days in 1985 below 10Â°C:", below_10c_1985.shape[0])

Days in 1985 below 10Â°C: 0

In [ ]:
avg_temp = df.groupby('Year')['IPG2211A2N'].mean().reset_index()

hottest_year = avg_temp.loc[avg_temp['IPG2211A2N'].idxmax()]
coldest_year = avg_temp.loc[avg_temp['IPG2211A2N'].idxmin()]

print("Year with highest average minimum temperature:", hottest_year['Year'], "-", hottest_year['IPG2211A2N'])
print("Year with lowest average minimum temperature:", coldest_year['Year'], "-", coldest_year['IPG2211A2N'])

Year with highest average minimum temperature: 2018.0 - 129.4048
Year with lowest average minimum temperature: 1985.0 - 62.165666666666674

In [ ]:
summary = f"""
The dataset contains daily minimum temperatures from 1981 to 1990.
After converting the date column and extracting features like year,
month, day, and weekday, we analyzed trends across the dataset.

In 1985, there were {below_10c_1985.shape[0]} days where the temperature dropped below 10Â°C.
The year with the highest average minimum temperature was {int(hottest_year['Year'])}
with {hottest_year['IPG2211A2N']:.2f}Â°C, while the year with the lowest average
was {int(coldest_year['Year'])} at {coldest_year['IPG2211A2N']:.2f}Â°C.
"""

print(summary)

The dataset contains daily minimum temperatures from 1981 to 1990.
After converting the date column and extracting features like year,
month, day, and weekday, we analyzed trends across the dataset.

In 1985, there were 0 days where the temperature dropped below 10Â°C.
The year with the highest average minimum temperature was 2018
with 129.40Â°C, while the year with the lowest average
was 1985 at 62.17Â°C.